/* Write your CSS here */
.item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 17vh;
  width: 13vw;
  justify-content: center;
  border-width: 0px;
  border-radius: 15px;
  margin: 5px;
}
.cardimg {
  height: 7vh;
  margin-top: 3vh;
  margin-left: 3vh;
}
.green {
  background-color: #84cc16;
}
.title {
  font-size: 18px;
  color: #1e293b;
  margin-top: 4vh;
}
.money {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.namec {
  margin-left: 4vh;
}
.blue {
  background-color: #cffafe;
}
.grey {
  background-color: #7c3aed;
}
